.filters-container {
  width: 100%;
  margin-top: 15px;
}
.filter-heading {
  font-family: Roboto;
  font-size: 25px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}
.filters-list-container {
  list-style-type: none;
  padding-left: 0px;
  width: 100%;
}
.filters-list-container li {
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
.label-checks {
  margin-left: 10px;
}
hr {
  border: 1px solid #475569;
  width: 100%;
  margin-top: 25px;
}
