.job-detail-bg-container {
  background-color: #000000;
  height: 100vh;
  display: flex;
  justify-content: center;
  padding-left: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  overflow-y: auto;
}
.detailed-page-loader {
  height: 50vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.detailed-view-container {
  width: 100%;
  max-width: 1110px;
  height: 100vh;
  padding-bottom: 20px;
}
.job-detailed-card {
  background-color: #272727;
  width: 100%;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 15px;
}
.detail-company-container {
  display: flex;
}
.detail-text-container h1 {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  margin: 0px;
}
.detail-company-logo {
  width: 50px;
  height: 50px;
  margin-right: 15px;
}
.detail-rating {
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.detail-rating p {
  font-family: Roboto;
  font-size: 20px;
  color: #ffffff;
  margin: 0px;
}
.detail-star {
  color: #fbbf24;
  width: 20px;
  height: 20px;
  margin-right: 10px;
}
.detail-location-internship-salary-container {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  margin-top: 10px;
}
hr {
  border: 1px solid #475569;
  width: 100%;
  margin-top: 20px;
}
.detail-location-internship-container {
  display: flex;
  align-items: center;
}
.detail-location-internship {
  display: flex;
  align-items: center;
  margin-right: 15px;
}
.detail-location-internship p {
  font-family: Roboto;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}
.detail-location-internship-icon {
  width: 20px;
  height: 20px;
  color: #ffffff;
  margin-right: 8px;
}
.detail-package {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  font-weight: bold;
  letter-spacing: 1px;
}
.description-heading-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.detail-description-heading {
  font-family: Roboto;
  font-size: 20px;
  font-weight: bold;
  color: #ffffff;
  letter-spacing: 1px;
}
.visit-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  font-family: Roboto;
  font-size: 18px;
  font-weight: bold;
  color: #6366f1;
  cursor: pointer;
}
.skill-list-container {
  list-style-type: none;
  padding-left: 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 700px;
  flex-wrap: wrap;
}
.skill {
  display: flex;
  align-items: center;
  width: 40%;
  margin-bottom: 20px;
}
.skill img {
  width: 50px;
  height: 50px;
}
.skill p {
  font-family: Roboto;
  font-size: 14px;
  color: #ffffff;
  font-weight: bold;
  margin-left: 10px;
}
.share-icon {
  width: 20px;
  height: 20px;
  margin-left: 5px;
}
.detail-description {
  font-family: Roboto;
  font-size: 15px;
  color: #ffffff;
  letter-spacing: 1px;
}
.life-at-company-container {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.life-at-company-container p {
  width: 100%;
  max-width: 600px;
}
.life-at-company-container img {
  width: 100%;
  max-width: 400px;
}
@media (min-width: 768px) {
  .detail-company-logo {
    width: 70px;
    height: 70px;
  }
  .life-at-company-container {
    flex-direction: row;
  }
  .life-at-company-container img {
    margin-left: 10px;
  }
  .detail-location-internship p {
    font-size: 15px;
  }
  .detail-location-internship-icon {
    width: 30px;
    height: 30px;
  }
  .detail-text-container h1 {
    font-size: 25px;
  }
  .detail-rating p {
    font-size: 25px;
  }
  .detail-package {
    font-size: 20px;
  }
  .skill {
    width: 30%;
  }
  .skill img {
    width: 60px;
    height: 60px;
  }
  .skill p {
    font-size: 18px;
  }
  .detail-description-heading {
    font-size: 30px;
  }
  .detail-description {
    font-size: 20px;
  }
}
